body{
	  background:linear-gradient(to right,red,yellow);
	
	background-color:orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
	flex-direction: column;
	
	}
input[type=submit]{
	border-radius:10px;
	background-color:transparent;
	position:relative;
	font-size:0.8cm;
	letter-spacing:0.0;
	font-weight:10;
	padding:0.5px 1px;
	transition:0.5s;
}
input[type=submit]:hover{
	background-color: white;
}
div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:60vh;
		font-size:0.5cm;
	
}
button{
	border-radius:10px;
	background-color:transparent;
	position:relative;
	font-size:0.5cm;
	letter-spacing:0.0;
	font-weight:10;
	padding:0.5px 1px;
	transition:0.5s;
}
button:hover{
	background-color: white;
}